.login-wrapper {
  width: 40vw;
  height: 55vh;

  background-color: rgb(209, 209, 209);
  border-radius: 15px;
  padding: 2rem;

  margin: auto;
}

.login-container {
  height: 75vh;
}

.captcha-wrapper {
  margin: auto;
}
